header.header{
    display: flex;
    background-image: linear-gradient(90deg, rgba(38, 85, 115, 1) 20%, rgba(55,134,166,0.1) 100%),
    url('../../assets/images/wallpaper.png');
    background-size: 100% 100%;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}

.header a{
    margin-left: auto;
    margin-right: 25px;
    color: #fff;
}

.header h5{
    margin-right: auto;
    margin-left: 25px;
    color: #fff;
}