aside.menu-area{
    background-color: var(--bg-dark);
}

.menu a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: rgba(55,134,166,1);
    margin-bottom: 10px;
}

.menu a:hover{
    background: linear-gradient(135deg, rgba(72,176,217,1) 0%, rgba(80,242,232,1) 100%);
}

.menu div{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}